<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AP Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
  <header class="hero">
    <h1>The Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Homepage</a>
  </nav>
  <main>
      <h2>Tech Blog</h2>
    <div class="events">
      {{{body}}}
    </div>
  </main>
  <script src="../../public/js/logout.js"></script>
</body>

</html>